<!doctype html>
<html>
    <title>{{ title }}</title>
    <head>
        handlerbar
    </head>
    <body class="hold-transition skin-blue layout-top-nav">
        <div class="wrapper">
            <div class="content-wrapper">
                {{{body}}}
            </div>
        </div>
    </body>
</html>